{% extends 'run/base.html' %}{% load static %}
{% block tituloPage %} Medios de pago Formulario {% endblock %}

{% block body %}

    <div class="container bg-light py-5 mt-5 mb-5">

        <h1 class="text-center text-primary">Registro de medios de pagos</h1>
        <div>
            <form action="{% url 'paginaWeb:add_medioPago' %}" method="post" enctype="multipart/form-data"
                  class="row p-3">

                {% csrf_token %}

                <div class="col-4">
                    <label for="idMedioPago" class="form-label">Código del medio de pago: </label>
                    <input type="number" id="idMedioPago" name="idMedio" class="form-control">
                </div>

                <div class="col-4">
                    <label for="nombreMedio" class="form-label">Nombre del medio de pago: </label>
                    <input type="text" id="nombreMedio" name="nombreMedio" class="form-control">
                </div>

                <div class="col-4">
                    <label for="estado" class="form-label">Estado del medio de pago: </label>
                    <select name="estado" id="estado" class="form-select">
                        <option value="" selected>Seleccione un estado</option>
                        <option value="Habilitado">Habilitado</option>
                        <option value="Deshabilitado">Deshabilitado</option>
                    </select>
                </div>

                <br><input type="submit" class="btn btn-primary mt-4 col-4 mx-auto" value="Añadir medio de pago">
            </form>
        </div>
    </div>
        
{% endblock  %}
