{% extends 'run/base.html' %}{% load static %}
{% block tituloPage %} Registro de productos {% endblock %}
{% block body %}

    <div class="container bg-light py-5 mt-5 mt-5 mb-5">

        <h1 class="text-center text-primary">Editando productos</h1>

        <form action="{% url 'paginaWeb:upd_inv' %}" method="post" enctype="multipart/form-data" class="row p-3">

            {% csrf_token %}

            <div class="col-4">
                <label for="codigo" class="form-label">Código: </label>
                <input type="number" id="codigo" name="codigo" class="form-control" value="{{ productos.id_producto }}">
            </div>

            <div class="col-4">
                <label for="nombre" class="form-label">Nombre: </label>
                <input type="text" id="nombre" name="nombreRes" class="form-control"
                       value="{{ productos.nombre_producto }}">
            </div>

            <div class="col-4 flex-wrap-reverse">
                <label for="stock" class="form-label">Stock: </label>
                <input type="number" id="stock" name="stock" class="form-control" value="{{ productos.stock }}">
            </div>

            <div class="col-4">
                <label for="precio" class="form-label">Precio: </label>
                <input type="number" id="precio" name="precio" class="form-control" value="{{ productos.precio }}">
            </div>

            <div class="col-4">
                <label for="palabClave" class="form-label">Palabras clave: </label>
                <input type="text" id="palabClave" name="palabClave" class="form-control"
                       value="{{ productos.palabras_clave }}" />
            </div><br>

            <div class="col-4">
                <label for="marcaAct" class="form-label">Marca actual: </label>
                <input type="text" id="marcaAct" name="" class="form-control"
                       value="{{ m.nombre_marca }}" readonly/>
            </div><br>

            <div class="col-4">
                <label for="marca" class="form-label">Nueva marca: </label>
                <select id="marca" name="marca" class="form-select">
                    <option value="" selected>Seleccione una marca</option>
                        {% for i in marcas %}
                            <option value="{{ i.id_marca }}">{{ i.nombre_marca }}</option>
                        {% endfor %}
                </select>
            </div>

            <div class="col-4">
                <label for="categAct" class="form-label">Categoria actual: </label>
                <input type="text" id="categAct" name="" class="form-control"
                       value="{{ c.categoria }}" readonly/>
            </div><br>

            <div class="col-4">
                <label for="categoria" class="form-label">Categoría: </label>
                <select id="categoria" name="categoria" class="form-select">
                    <option value="" selected>Seleccione la categoría</option>
                        {% for i in categorias %}
                            <option value="{{ i.id_categoria }}">{{ i.categoria }}</option>
                        {% endfor %}
                </select>
            </div>

            <div class="col-4">
                <label for="desc" class="form-label">Descripción: </label>
                <textarea name="descripcion" id="desc" class="form-control" rows="10" cols="50"
                >{{ productos.descripcion }}</textarea>
            </div>

            <input type="submit" class="btn btn-primary mt-4 col-5 mx-auto" value="Actualizar producto">
        </form>
    </div><br>

{% endblock  %}
