{% extends 'run/base.html' %}{% load static %}
{% block tituloPage %} Registrar imagenes {% endblock %}

{% block body %}

    <div class="container bg-light py-5 mt-5 mt-5 mb-5">

        <h1 class="text-center text-primary">Añadir imagénes</h1>
        <div>
            <form action="{% url 'paginaWeb:reg_imagenes' %}" method="post" enctype="multipart/form-data"
                  class="row p-4">

                {% csrf_token %}

                <div class="col-4">
                    <label for="idImagen" class="form-label">Código de imagen: </label>
                    <input type="number" name="idImagen" id="idImagen" class="form-control" /><br>
                </div>

                <div class="col-4">
                    <label for="imagen" class="form-label">Imagen: </label>
                    <input type="file" id="imagen" name="imagen" class="form-control" />
                </div>

                <div class="col-4">
                    <label for="producto" class="form-label">Marcas: </label>
                    <select id="producto" name="producto" class="form-select">
                        <option value="" selected>Seleccione el producto a asociar</option>
                            {% for i in productos %}
                                <option value="{{i.id_producto}}"> {{i.id_producto}} - {{i.nombre_producto}} </option>
                            {% endfor %}
                    </select>
                </div>

                <br><input type="submit" class="btn btn-primary mt-4 col-4 mx-auto" value="Guardar imagen">
            </form>
        </div>
    </div>

{% endblock  %}
