{% extends 'run/base.html' %}{% load static %}
{% block tituloPage %} recuperar Contraseña {% endblock %}

{% block body %}
    {% block header %}{% endblock %}
    <div class="card mb-5 container mt-5 p-3"  style="max-width: 940px;">
        <div class="row g-0">
          <div class="col-md-8 mx-auto">
            <div class="card-body">
              <h5 class="card-title text-primary h4 text-center">Recuperando Contraseña</h5>
              <p class="card-text">
                <form action="{% url 'paginaWeb:upd_contrasena' %}" method="post">
                    {% csrf_token %}

                    <input type="number" name="cedula" value="{{ persona.cedula }}" hidden>
                    <p class="card-text">A continuación deberá ingresar su nueva contraseña</p>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="contrasena" id="floatingInput"
                                 placeholder="Cantidad de productos">
                        <label for="floatingInput">Nueva Contraseña</label>
                    </div>
                    <hr class="container mb-4">

                    <button type="submit" class="btn btn-success">Guardar</button>

                </form>
              </p>

            </div>
          </div>
        </div>
      </div>

    {%block ayuda%}{% endblock %}

    {%block footer%}{% endblock %}
{% endblock  %}
