{% extends 'run/base.html' %}{% load static %}
{% block tituloPage %} Login {% endblock %}

{% block body %}

    {% block header %}{% endblock  %}


    <div class="card mb-5 container mt-5 p-3"  style="max-width: 940px; border-radius: 10px; margin-top: 5em;">
        <div class="row g-0">
          <div class="col-md-8 mx-auto">
            <div class="card-body">
              <h5 class="card-title text-primary h4 text-center">Iniciar sesión</h5>
              <p class="card-text">
                <form action="{% url 'paginaWeb:login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <div class="form-outline mb-4">
                          <input type="text" class="form-control" name="email" id="floatingInput">
                            <label for="floatingInput">Correo Electrónico</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" class="form-control" name="passw" id="floatingInput">
                            <label for="floatingInput">Contraseña</label>
                        </div>
                    </div>
                    <hr class="container mb-4">
                    <div class="text-center pt-1 mb-4 pb-1">
                        <a class="text-muted" href="{% url 'paginaWeb:recuperarContraForm' %}">
                            ¿Olvidaste tú contraseña?
                        </a>
                        <a class="text-muted" href="{% url 'paginaWeb:registro' %}">
                            Registrarse
                        </a>
                    </div>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                    <a href="{% url 'paginaWeb:index' %}" class="btn btn-secondary">Volver al inicio</a>

                </form>
              </p>
            </div>
          </div>
        </div>
      </div>
    
    {%block ayuda%}{% endblock %}

    {%block footer%}{% endblock %}

{% endblock  %}