{% extends 'run/base.html' %}{% load static %}
{% block tituloPage %} Login {% endblock %}
{% block body %}

    {# Hola quitar los bloques de header y motos arregla el error de la barra de navegacion en el login, aqui hay que restringir la barra de navegacion #}
    {# {% block header %}{% endblock  %} #}

    {# {% block motos %}{% endblock%} #}<!--Quité las motos porque en la base de datos no tenemos una tabla para ellas, aunque teo dijo que iban a ser un producto más-->

    <br/><div class="card container" style="padding: 10px;">
        <form action="{% url 'paginaWeb:index' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Correo eléctronico: </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña: </label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recordarme: </label>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>
    </div>
    
    {%block ayuda%}{% endblock %}

    {%block footer%}{% endblock %}

{% endblock  %}