{% extends 'run/base.html' %}{% load static %}
{% block tituloPage %} Productos {% endblock %}

{% block body %}

    {% block motos %}{% endblock%} <!--Quité las motos porque en la base de datos no tenemos una tabla para ellas, aunque teo dijo que iban a ser un producto más-->

    <div id="padre">
        <!-- Compras filtros-->     
        <div class="container p-4 bg-light col-4 col-lg-2 ml-3 mr-4 ml-5 rounded">
            <div>
                <p class="h4 text-primary fw-normal">Productos</p>
                <span class="text-muted fw-light">4.786 productos encontrados</span>
                <hr>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Publicados hoy</label>
                </div>
                <hr>
                <ul class="mt-3">
                    <p class="h4 text-primary fw-normal">Categorias</p>
                    <li><a class="text-decoration-none text-dark" href="#">Accesorios</a></li>
                    <li><a class="text-decoration-none text-dark" href="#">Iluminación</a></li>
                    <li><a class="text-decoration-none text-dark" href="#">Lubricantes</a></li>
                    <li><a class="text-decoration-none text-dark" href="#">Herramientas</a></li>
                    <li><a class="text-decoration-none text-dark" href="#">Descuentos</a></li>
                </ul>
                <hr>
                <ul class="mt-3">
                    <p class="h4 text-primary fw-normal">Marcas</p>
                    <li><a class="text-decoration-none text-dark" href="#">YAMAHA</a></li>
                    <li><a class="text-decoration-none text-dark" href="#">TVS</a></li>
                    <li><a class="text-decoration-none text-dark" href="#">Kymco</a></li>
                    <li><a class="text-decoration-none text-dark" href="#">Honda</a></li>
                    <li><a class="text-decoration-none text-dark" href="#">AKT</a></li>
                    <li><a class="text-decoration-none" href="#">mostrar más...</a></li>
                </ul>
                <hr>
                <ul>
                    <p class="h4 text-primary fw-normal"> Precios </p>
                    <li>
                        <p> Escoge el rango de precios de tú preferencia</p>
                    </li>
                    <label class="fw-light" for="customRange1">Rango de precio</label>
                    <input type="range" class="custom-range" min="0" max="1000000" id="customRange1">
                </ul>
            </div>
        </div>

        <!--Productos responsive-->
        <div class="container p-3 border mr-3 bg-light mr-5 rounded">
            <div class="row row-cols-1 row-cols-md-3">
                {% if productos %}
                    {% for i in productos %}
                        <div class="col mb-4 col-12">
                            <div class="card">
                                <img src="{{i.imagen.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{i.nombre_producto}} - {{i.marca}}</h5>
                                    <p class="card-text h2 font-weight-bold text-primary">${{i.precio}}</p>
                                    <p class="card-text fw-light">{{i.descripcion}}</p>
                                    <p class="card-text fw-bold">Cantidad: <span class="text-primary fw-light">{{i.stock}}</span></p>
                                    <a href="{% url 'paginaWeb:add_carrito' i.id_producto %}" class="btn btn-outline-primary"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                      </svg> Añadir al carrito</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1 class="text-center">No hay productos</h1>
                {% endif %}
            </div>
        </div>
    </div> 

{% endblock  %}
