{% extends 'run/base.html' %}{% load static %}
{% block tituloPage %} Index {% endblock %}

{% block body %}

    <!-- Carrusel -->
    <div class="container p-5 mt-5 bg-light rounded shadow-lg">
        <h1>Buscar otras datatables</h1>

        <br/><div id="carruselRun" class="carousel slide container rounded" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#carruselRun" data-slide-to="0" class="active bg-info"></li>
            <li data-target="#carruselRun" data-slide-to="1" class="bg-info"></li>
            <li data-target="#carruselRun" data-slide-to="2" class="bg-info"></li>
            </ol>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'run/img/logo.png' %}" class="d-block w-100" alt="Logo RUN">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: #000000;">RUN o R' Unitall</h5>
                    <p style="color: #000000;">La mejor tienda de repuestos para motos en todo el país.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'run/img/mt10.jpg' %}" class="d-block w-100" alt="Moto MT10">
                <div class="carousel-caption d-none d-md-block">
                <h5 style="color: #000000;">Repuestos para las mejores motos</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'run/img/yamaha.png' %}" class="d-block w-100" alt="YAMAHA">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: #000000;">Asociados con las mejores marcas del mundo</h5>
                </div>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carruselRun" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carruselRun" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
            </button>
        </div>

        <br/><hr class="container">
        <!-- Tarjetas de productos -->    
        <br/><div class="container">
            <br/><h1>Nuestros productos</h1>
            <br><div class="row row-cols-1 row-cols-md-5">
                    <a href="{% url 'paginaWeb:ver_prod' %}" class="linkIndex" style="text-decoration: none; color: #000000;">
                    <div class="col mb-4">
                        <div class="card shadow-lg">
                            <img src="{% static 'run/img/accesorios.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Accesorios</h5>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="{% url 'paginaWeb:ver_prod' %}" class="linkIndex" style="text-decoration: none; color: #000000;">
                        <div class="col mb-4">
                            <div class="card shadow-lg">
                                <img src="{% static 'run/img/herramientas.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">Herramientas</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'paginaWeb:ver_prod' %}" class="linkIndex" style="text-decoration: none; color: #000000;" >
                        <div class="col mb-4">
                            <div class="card shadow-lg">
                                <img src="{% static 'run/img/luces.jpeg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">Iluminación</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'paginaWeb:ver_prod' %}" class="linkIndex" style="text-decoration: none; color: #000000;">
                        <div class="col mb-4">
                            <div class="card shadow-lg">
                                <img src="{% static 'run/img/muchosAceites.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">Lubricantes</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'paginaWeb:ver_prod' %}" class="linkIndex" style="text-decoration: none; color: #000000;">
                        <div class="col mb-4">
                            <div class="card shadow-lg">
                                <img src="{% static 'run/img/descuentos.webp' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">Descuentos</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div><br/><br/>
    </div>

{% endblock  %}