{% extends 'run/base.html' %}{% load static %}
{% block tituloPage %} Registro de productos {% endblock %}
{% block body %}

    {% block motos %}{% endblock%} <!--Quité las motos porque en la base de datos no tenemos una tabla para ellas, aunque teo dijo que iban a ser un producto más-->

    <div>
        <br>
        <h1 id="tituloFormularios"> Inventario </h1>

        <form action="#" method="post">
            {% csrf_token %}
            <div class="datosDiv">

                <label for="codigo">Código: </label>
                <input type="text" name="codigo" size="auto" placeholder="1540"/><br>

                <label for="nombreRes">Nombre <br>repuesto: </label>
                <input type="text" name="nombreRes" placeholder="Bujia" /> <br>

                <label for="stock">Stock: </label>
                <input type="number" name="stock" placeholder="64" /> <br>

                <label for="costo">Costo: </label>
                <input type="number" name="costo" placeholder="15000" /> <br>

                <label for="precio">Precio: </label>
                <input type="number" name="precio" placeholder="20000" /> <br>

                <label for="categ">Categorias: </label>
                <select name="categ" id="">

                    <option value="acce">Accesorios</option>
                    <option value="herr">Herramientas</option>
                    <option value="ilum">Iluminación</option>
                    <option value="lubr">Lubricantes</option>
                    <option value="descue">Descuentos</option>

                </select>

                <label for="desc"></label>
                <textarea name="descripcion" id="desc" cols="30" rows="5" placeholder="Descripción del producto..."></textarea>

            </div>
            <div class="text-center">
                <br> <input class="btn btn-primary" type="submit" value="Listo"/><br>
            </div>

        </form>
    </div><br>

    <div class="modal fade" id="iniciarSesion"> <!--Inicio de sesión-->
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Inicio de sesión</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div id="inicioSesion">
                        <div id="intoInicio">                
                            <form class="form-group" action="" method="post">
                                <input type="email" name="correo" size="auto" placeholder="Correo electrónico o número" />
                                <br>
                
                                <br> <input type="password" name="contrasena" placeholder="Contraseña" /> <br>
                
                                <br><button type="submit" onclick="cookieSesion()" class="btn btn-outline-primary">
                                    Iniciar sesión </button><br>
                
                                <br> <a href="olvcontra.html"> ¿Olvidaste tu contraseña? </a> <br>
                
                                <br> <a href="registro.html"> Registrarse </a>
                
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>

{% endblock  %}
