{% extends 'run/base.html' %}{% load static %}
{% block tituloPage %} Medios de pago Formulario editar {% endblock %}

{% block body %}

    <div class="container bg-light py-5 mt-5 mb-5">

        <h1 class="text-center text-primary">Actualizar pagos</h1>
        <div>
            <form action="{% url 'paginaWeb:upd_pagos' %}" method="post" enctype="multipart/form-data" class="row p-4">

                {% csrf_token %}

                <div class="col-4">
                    <label for="idPago" class="form-label">Código del pago: </label>
                    <input type="number" id="idPago" name="idPago" value="{{pagos.id_pago}}" class="form-control">
                </div>

                <div class="col-4">
                    <label for="ventaAct" class="form-label">Venta actual: </label>
                    <input type="text" id="ventaAct" name="" value="{{pagos.venta}}" class="form-control" readonly>
                </div>

                <div class="col-4">
                    <label for="venta" class="form-label">Nueva venta: </label>
                    <select name="venta" id="venta" class="form-select">
                        <option selected>Seleccione una venta</option>
                        {% for i in ventas %}
                            <option value="{{i.id_venta}}"> {{i.id_venta}} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-4">
                    <label for="medioAct" class="form-label">Medio de pago actual: </label>
                    <input type="text" id="medioAct" name="" value="{{pagos.medio_pago}}" class="form-control" readonly>
                </div>

                <div class="col-4">
                    <label for="medioPago" class="form-label">Nuevo medio de pago: </label>
                    <select name="medioPago" id="medioPago" class="form-select">
                        <option selected>Seleccione un medio de pago</option>
                        {% for i in medPagos %}
                            <option value="{{i.id_medio_pago}}"> {{i.nombre_medio_pago}} </option>
                        {% endfor %}
                    </select>
                </div>

                <br><input type="submit" class="btn btn-primary mt-4 col-3 mx-auto" value="Actualizar pago">
            </form>
        </div>
    </div>
        
{% endblock  %}
