{% extends 'run/base.html' %}{% load static %}
{% block tituloPage %} Lista de pedidos {% endblock %}

{% block body %}

    {% block motos %}{% endblock%} <!--Quité las motos porque en la base de datos no tenemos una tabla para ellas, aunque teo dijo que iban a ser un producto más-->

    <div class="container">
        <br />
        <h2 id="tituloTables">Lista de pedidos</h2>
        <table class="table table-responsive" id="pedidosTable">
            <thead class="thead-dark">
                <tr>
                    <th>Id Pedido</th>
                    <th>Cliente asociado al pedido</th>
                    <th>Id de la venta</th>
                    <th>Id del producto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if datos %}
                    {% for i in datos%}
                    <tr>
                        <td class="col-lg-6">{{i.id_pedido}}</td>
                        <td>{{i.venta.persona}}</td>
                        <td>{{i.producto.nombre_producto}}</td>
                        <td>{{i.venta.id_venta}}</td>
                        <td>{{i.producto}}</td>
                        <td>
                            <a href="{% url 'paginaWeb:upd_pedidos_productos_form' i.id_pedido %}" class="btn btn-warning"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg></a>
                            <button type="button" class="btn btn-danger" onclick="confirmarEliminar('{% url 'paginaWeb:del_pedidos' i.id_pedido %}')"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                            </svg></button>
                        </td>
                    </tr>
                    {% endfor %}

                {% else %}
                    <tr>
                        <td>No hay pedidos que mostrar</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div><br>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#pedidosTable').DataTable();
        });
    </script>

{% endblock  %}
