{% extends 'run/base.html' %}{% load static %}
{% block tituloPage %} Editar roles {% endblock %}
{% block body %}

    {% block motos %}{% endblock%} 

    <br/><h1>Edición del rol --- {{ roles.nombre_rol }}</h1><br/>
    
    <div>
        <form action="{% url 'paginaWeb:upd_roles' %}" method="post">
            {% csrf_token %}
            <div class="datosDiv">

                <label for="codigo">Código: </label>
                <input type="number" name="idRol" value="{{ roles.id_roles }}" readonly/><br>

                <br><label for="nombreRes">Nombre rol: </label>
                <input type="text" name="nameRol" value="{{ roles.nombre_rol }}" /> <br>

                <br><label for="desc">Descripción: </label>
                <textarea name="descripcion" id="desc" cols="30" rows="5">{{ roles.descripcion }}</textarea>

            </div>
            <div class="text-center">
                <br> <input class="btn btn-primary" type="submit" value="Listo"/><br>
            </div>

        </form>
    </div><br>

{% endblock  %}
